@font-face {
  font-family: "IranSans"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./fonts/Iranian\ Sans.ttf") format("truetype");
}

:root {
  --main-color-theme: #fdb813;
  // --second-color-theme: ;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  box-sizing: border-box;
  font-family: "IranSans";
}
